@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 3rem;
}

main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .header .heading-1 {
  font-weight: 200;
  color: #a3a5ae;
}

@media only screen and (max-width: 900px) {
  main .header .heading-1 {
    font-size: 1.5rem;
  }
}

main .header .heading-2 {
  color: #4c4e61;
}

@media only screen and (max-width: 900px) {
  main .header .heading-2 {
    font-size: 1.5rem;
  }
}

main .header p {
  text-align: center;
  font-size: 15px;
  color: #a3a5ae;
  width: 40%;
  padding: 1rem 0;
}

main .card-grid {
  max-width: 80rem;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[auto];
      grid-template-rows: repeat(auto, 1fr);
  gap: 2rem;
}

main .card-grid .card-1,
main .card-grid .card-2,
main .card-grid .card-3,
main .card-grid .card-4 {
  position: relative;
  background-color: white;
  border-radius: 10px;
  border-top: 4px solid #45d3d3;
  padding: 2rem;
  margin-top: 2rem;
  width: 100%;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.274);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.274);
}

main .card-grid .card-1 h2,
main .card-grid .card-2 h2,
main .card-grid .card-3 h2,
main .card-grid .card-4 h2 {
  color: #4c4e61;
}

main .card-grid .card-1 p,
main .card-grid .card-2 p,
main .card-grid .card-3 p,
main .card-grid .card-4 p {
  color: #a3a5ae;
}

main .card-grid .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main .card-grid .card-1,
main .card-grid .card-4,
main .card-grid .center-card-grid {
  place-self: center;
  width: 100%;
}

main .card-grid .card-2 {
  border-top: 4px solid #ea5353;
}

main .card-grid .card-3 {
  border-top: 4px solid #fcaf4a;
}

main .card-grid .card-4 {
  border-top: 4px solid #549ef2;
}

@media only screen and (max-width: 900px) {
  main {
    padding: 2rem;
  }
  main .header p {
    width: 100% !important;
  }
  main .card-grid {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    padding: 4rem 0;
  }
  main .card-grid .card-1,
  main .card-grid .card-2,
  main .card-grid card-3,
  main .card-grid .card-4 {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */